body{
    background-color: rgb(237, 243, 241);
}
.container{
    margin-left: 30px;
    margin-top: 30px;
}
.btn1-challenge{
 
    background-color: rgb(41, 78, 245);
    color:beige;
    width: 130px;
    height: 45px;
    font-size: 20px;
}

.container .circle {
    position: absolute;
   
     width: 40px;
    height: 40px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    transform:translate(50%,-50%);
    border-radius: 25px;
    background: #01080e;
    text-align: center;
    line-height: 40px;
  
   
    
}
.btn1-challenge:hover{
    cursor: hand; 
    cursor: pointer;
    }
.btn2-challenge{
    margin-left:130px;
    width: 100px;
    height: 40px;
    border-radius: 15px 15px 15px 15px;
    background-color:black ;
    color: beige;
    border-color: #e9dd37;
    
    box-shadow:  yellow 0px 3px 8px;

}
.btn2-challenge:hover{
    cursor: hand; 
    cursor: pointer;
    }

.btn3-challenge{
    margin-left:130px;
    width: 160px;
    height: 40px;
    border-radius: 25px 25px 25px 25px;
    background-color:rgb(10, 87, 87) ;
    color: beige;
    border: none;
    font-size: 16px;
    border-style:unset;
    box-shadow:  rgb(37, 112, 119) 0px 5px 9px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
   
}
.btn3-challenge:hover{
    cursor: hand; 
    cursor: pointer;
    }